# Modified from https://manual.seafile.com/deploy/https_with_nginx/

log_format seafileformat '$http_x_forwarded_for $remote_addr [$time_local] "$request" $status $body_bytes_sent "$http_referer" "$http_user_agent" $upstream_response_time';

server {
    listen {{ nginx_port|int }};
    server_name {{ item.value.domains|join(' ') }};
    rewrite ^ https://$http_host$request_uri? permanent;
}

server {
    listen {{ nginx_port_ssl|int }};
    server_name {{ item.value.domains|join(' ') }};
    proxy_set_header X-Forwarded-For $remote_addr;

    {% include 'templates/site.ssl.conf.j2' %}

    location / {
        proxy_pass         http://127.0.0.1:{{ seafile_hub_port|int }};
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;
        proxy_read_timeout 1200s;

        # used for view/edit office file via Office Online Server
        client_max_body_size 0;

        access_log /var/log/nginx/{{ item.value.name }}.hub.access.log seafileformat;
        error_log  /var/log/nginx/{{ item.value.name }}.hub.error.log;
    }

    location /seafhttp {
        rewrite ^/seafhttp(.*)$ $1 break;

        # FIXME multi-tier architecture
        proxy_pass http://127.0.0.1:{{ seafile_file_port|int }};

        client_max_body_size 0;
        proxy_set_header      X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_connect_timeout 36000s;
        proxy_read_timeout    36000s;
        proxy_send_timeout    36000s;
        send_timeout          36000s;

        access_log /var/log/nginx/{{ item.value.name }}.http.access.log seafileformat;
        error_log  /var/log/nginx/{{ item.value.name }}.http.error.log;
    }

    location /media {
        root {{ seafile_app_directory }}/seafile-server-latest/seahub;
    }
}
