[DATABASE]
type = mysql
host = 127.0.0.1
port = {{ mariadb_port|default(mysql_port)|int }}
username = {{ seafile_database_user }}
password = {{ seafile_database_password }}
name = {{ seafile_database_name_prefix }}-seahub

[AUDIT]
enabled = true

[INDEX FILES]
enabled = true
interval = 10m

# external_es_server = true  # required when ElasticSearch on separate host
# es_host = localhost        # IP address of ElasticSearch host
# es_port = {{ elasticsearch_port|int }}             # port of ElasticSearch host
# interval = 10m             # frequency of index updates in minutes
# highlight = fvh            # parameter for improving the search performance

## If true, indexes the contents of office/pdf files while updating search index
## Note: If you change this option from "false" to "true", then you need to clear the search index and update the index again. See the FAQ for details.
index_office_pdf = true

[OFFICE CONVERTER]
enabled = true
workers = 1

## how many pages are allowed to be previewed online. Default is 50 pages
max-pages = 50

## the max size of documents allowed to be previewed online, in MB. Default is 10 MB
## Previewing a large file (for example >30M) online is likely going to freeze the browser.
max-size = 10

[SEAHUB EMAIL]
enabled = true

## interval of sending Seahub email. Can be s(seconds), m(minutes), h(hours), d(days)
interval = 30m
