[fileserver]
port = {{ seafile_file_port|int }}

[database]
type = mysql
host = 127.0.0.1
port = {{ mariadb_port|default(mysql_port)|int }}
user = {{ seafile_database_user }}
password = {{ seafile_database_password }}
db_name = {{ seafile_database_name_prefix }}-seafile
connection_charset = utf8

